name: CI

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.18.0"
      - name: Check go version
        run: go version
      - name: Run linters
        run: |
          go install honnef.co/go/tools/cmd/staticcheck@latest
          bash -c "$(go env GOPATH)/bin/staticcheck ./..."
      - name: Run Tests
        run: go test -coverprofile=coverage.txt -covermode=atomic ./...
      - name: Run Coverage
        run: bash <(curl -s https://codecov.io/bash)
        env:
          CODECOV_TOKEN: 0fe31702-a468-46ad-a8aa-3198bb5e29f4



